* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #54b0f6;
  color: #171717;
  width: 100%;
  height: 100%;
}
.react-vite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  padding: 20px;
}
header {
  width: 100%;
}
li {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  width: 80%;
  margin: auto;
}
.container h1 {
  text-align: center;
  color: #171717;
  margin-bottom: 2rem;
}
.container p {
  text-align: center;
  color: #171717;
  margin-bottom: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li a:hover {
  background-color: #ddd;
  color: #171717;
  border-radius: 50px;
}
.container ul li a:hover {
  color: rgb(110, 107, 107);
}
.container ul li {
  padding: 15px;
  margin: 15px;
  background-color: burlywood;
}
.container ul li a {
  color: #171717;
}
.container ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
nav {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.prosjekt-kort {
  padding: 20px;
  margin: 20px;
  width: 40%;
  max-width: 40%;
  border-radius: 10px;
  background-color: aqua;
}
h2 {
  height: 100%;
  max-width: 40%;
  padding: 20px;
  margin: 20px;
  place-content: center;
  background-color: aqua;
}
.html-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prosjekt-kort:hover {
  background-color: #8ccbfb;
  color: #171717;
}
.prosjekt-kort li a {
  max-width: 100%;
}
p {
  padding: 10px;
  margin: 10px;
}
@media (max-width: 600px) {
  .container ul {
    flex-direction: column;
    align-items: center;
  }
  .prosjekt-kort {
    width: 90%;
    min-width: 90%;
  }
  .react-vite {
    width: 100%;
    min-width: 100%;
    flex-direction: column;
  }
  .react-vite h2 {
    width: 100%;
    min-width: 100%;
  }
  .html-css h2 {
    width: 100%;
    min-width: 100%;
  }
}
