* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #54b0f6;
  color: #171717;
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
}
.banner {
  text-align: center;
  padding: 20px;
  background-color: #171717;
  color: white;
  border-top: 4px solid #e7e4e4;
}
.react-vite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  padding: 20px;
}
header {
  width: 100%;
}
li {
  list-style: none;
}
.overskrifter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  color: #171717;
  margin-top: 2rem;
  margin-left: 6rem;
}
.overskrifter h2 {
  display: flex;
  flex-wrap: wrap;
  min-height: 80%;
  max-width: 90%;
}
.overskrifter a {
  color: #171717;
  text-decoration: none;
  max-width: 100%;
}
.hidden {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  width: 80%;
  margin: auto;
}
.banner h1 {
  text-align: center;
  color: #e7e4e4;
  margin-bottom: 2rem;
}
.container h2 {
  text-align: center;
  color: #171717;
  margin-bottom: 2rem;
}
.container p {
  text-align: center;
  color: #171717;
  margin-bottom: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li a:hover {
  background-color: #ddd;
  color: #171717;
  border-radius: 50px;
}
.container ul li a:hover {
  color: rgb(110, 107, 107);
}
.container ul li {
  padding: 15px;
  margin: 15px;
  background-color: burlywood;
}
.container ul li a {
  color: #171717;
}
.container ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
nav {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.overskrift-div {
  width: 300px;
  margin: 20px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: aqua;
}
.prosjekt-kort {
  padding: 20px;
  margin: 20px;
  width: 40%;
  max-width: 40%;
  border-radius: 10px;
  background-color: aqua;
}
.prosjekt-kort ul li {
  padding: 20px;
  background-color: rgb(0, 132, 255);
  color: whitesmoke;
  border-radius: 20px;
}
.prosjekt-kort ul li a {
  display: inline-block;
  list-style: none;
}
#html-link {
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}
#html,
#react,
#backend,
#AI-KI {
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  border: solid black 2px;
  border-radius: 50px;
}
#react:hover,
#html:hover,
#backend:hover,
#AI-KI:hover {
  transform: scale(1.1);
  color: rgb(110, 107, 107);
  cursor: pointer;
  transition: color 0.3s;
}
.prosjekt-kort ul li:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.prosjekt-kort2 ul li {
  margin: 20px;
  padding: 20px;
  background-color: rgb(0, 132, 255);
  border-radius: 20px;
}
.prosjekt-kort2 ul li a {
  color: white;
  list-style: none;
}
.prosjekt-kort2 ul li:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.prosjekt-kort2 {
  padding: 20px;
  margin: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: aqua;
}
h2 {
  height: 100%;
  max-width: 40%;
  padding: 20px;
  margin: 20px;
  place-content: center;
  background-color: aqua;
}
.html-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prosjekt-kort:hover {
  background-color: #8ccbfb;
  color: #171717;
}
.prosjekt-kort li a {
  max-width: 100%;
}
p {
  padding: 10px;
  margin: 10px;
}
@media (max-width: 600px) {
  .overskrifter {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color: #171717;
    margin-top: 2rem;
    margin-left: 0rem;
  }
  .banner,
  header {
    width: 100%;
  }
  .container ul {
    flex-direction: column;
    align-items: center;
  }
  .prosjekt-kort {
    width: 90%;
    min-width: 90%;
  }
  .react-vite {
    width: 100%;
    min-width: 100%;
    flex-direction: column;
  }
  .react-vite h2 {
    width: 100%;
    min-width: 100%;
  }
  .html-css h2 {
    width: 100%;
    min-width: 100%;
  }
}
